doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    title Swiper Animation Demo
    base(href="./")

    //- animate css
    link(href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css", rel="stylesheet")

    style.
      * {
        margin: 0;
        padding: 0;
      }

      .swiper-container {
        width: 400px;
        height: 300px;
        background-color: #fff1c9;
      }

      .demo {
        width: 400px;
        height: 300px;
        line-height: 300px;
        text-align: center;
      }
  body
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .demo(data-swiper-animation="fadeIn") Slider1
        .swiper-slide
          .demo(data-swiper-animation="fadeIn",
          data-duration=".5s",
          data-delay=".5s") Slider2
        .swiper-slide
          .demo(data-swiper-animation="fadeIn",
          data-duration=".5s",
          data-delay=".5s") Slider3

    //- webpack script
    each _js in htmlWebpackPlugin.files.js
      script(src=_js)

    //- swiper4+
    include includes/swiper4demo.pug

    //- swiper 3+
      include includes/swiper3demo.pug
